<app-navbar></app-navbar>

<div class="product-container">
  <div
    class="product-card"
    *ngFor="let product of filteredProducts"
    [routerLink]="['/products/details', product.id]"
  >
    <img
      src="{{ product.thumbnail }}"
      alt="{{ product.name }}"
      class="product-image"
    />
    <div class="product-info">
      <p class="product-category">{{ product.category }}</p>
      <h3>{{ product.name }}</h3>
      <div class="rating">
        <span>⭐ {{ product.rating }}</span>
      </div>
      <div class="price-add">
        <p class="price">${{ product.price }}</p>
        <button
          class="add-to-cart"
          (click)="addToCart(product); $event.stopPropagation()"
        >
          🛒 Add
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
