<app-navbar></app-navbar>
<div class="product-grid">
  <div class="product-card" *ngFor="let product of products">
    <img src={{product.thumbnail}} class="product-image" alt={{product.name}}>
    <div class="product-details">
      <h2 class="product-name">{{ product.name }}</h2>
      <p class="shipping-info">Shipped in 3-4 days</p>
      <div class="price">$35.99</div>
    </div>
    <div class="product-actions">
      <button class="add-cart-btn">
        <i class="fas fa-shopping-cart"></i> Add Cart
      </button>
      <button class="buy-btn">
        <i class="fas fa-shopping-bag"></i> Buy
      </button>
    </div>
  </div>
</div>
