.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding-top: 3em;
  background-color: #f8f9fa;
}

.signin-form {
  background-color: #fff;
  padding: 3em;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.signin-form h2 {
  margin-bottom: 1.5em;
  font-size: 2em;
  color: #212529;
}

.form-group {
  margin-bottom: 1.5em;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5em;
  color: #495057;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 0.8em;
  border: 1px solid #ced4da;
  border-radius: 5px;
  transition: border-color 0.3s;
}

.form-group input:focus {
  outline: none;
  border-color: #80bdff;
}

.signin-button {
  width: 100%;
  padding: 0.8em;
  background-color: #212529;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s;
}

.signin-button:hover {
  background-color: #343a40;
}

.forgot-password {
  display: block;
  margin-top: 1.5em;
  color: #6c757d;
  text-decoration: none;
  transition: color 0.3s;
}

.forgot-password:hover {
  color: #212529;
}

.signup-link a {
  color: #212529;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.signup-linkk a:hover {
  color: #0056b3;
}
