<nav>
  <div class="logo">
    <a routerLink="">StepUp</a>
  </div>
  <ul class="categories">
    <li><a routerLink="">Men</a></li>
    <li><a routerLink="">Women</a></li>
    <li><a routerLink="">Kids</a></li>
    <li><a routerLink="">Sale</a></li>
  </ul>
  <div class="actions">
    <a routerLink="" class="icon-link">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
    </a>
    <a routerLink="/cart" class="icon-link">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg>
    </a>
    <button class="login-button"  routerLink="/auth/signin">Login</button>
  </div>
</nav>
