<nav>
  <div class="logo">
    <a routerLink="">stepUP</a>
  </div>

  <button class="hamburger" (click)="toggleMenu()" aria-label="Toggle menu">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="3" y1="12" x2="21" y2="12"></line>
      <line x1="3" y1="6" x2="21" y2="6"></line>
      <line x1="3" y1="18" x2="21" y2="18"></line>
    </svg>
  </button>

  <div class="categories-container" [class.open]="isMenuOpen">
    <ul class="categories">
      <li><a routerLink="/products/men" (click)="toggleMenu()">Men</a></li>
      <li><a routerLink="/products/women" (click)="toggleMenu()">Women</a></li>
      <li><a routerLink="/products/kids" (click)="toggleMenu()">Kids</a></li>
      <li>
        <a routerLink="/products/sports" (click)="toggleMenu()">Sports</a>
      </li>
    </ul>
    <div class="actions-mobile">
      <a routerLink="/cart" class="icon-link" (click)="toggleMenu()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <path d="M16 10a4 4 0 0 1-8 0"></path>
        </svg>
        <span *ngIf="totalQty > 0" class="cart-badge">{{ totalQty }}</span>
        Cart
      </a>

      <a routerLink="/orders" class="icon-link" (click)="toggleMenu()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
          ></path>
          <polyline points="14,2 14,8 20,8"></polyline>
          <line x1="16" y1="13" x2="8" y2="13"></line>
          <line x1="16" y1="17" x2="8" y2="17"></line>
          <polyline points="10,9 9,9 8,9"></polyline>
        </svg>
        Orders
      </a>

      <ng-container
        *ngIf="
          auth.isAuthenticated();
          then authenticatedbtns;
          else unauthenticatedbtns
        "
      >
      </ng-container>

      <ng-template #unauthenticatedbtns>
        <button
          class="login-button"
          routerLink="/auth/signin"
          (click)="toggleMenu()"
        >
          Login
        </button>
      </ng-template>
      <ng-template #authenticatedbtns>
        <button class="login-button" (click)="logout(); toggleMenu()">
          Logout
        </button>
      </ng-template>
    </div>
  </div>

  <div class="actions">
    <a routerLink="/cart" class="icon-link">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <path d="M16 10a4 4 0 0 1-8 0"></path>
      </svg>
      <span *ngIf="totalQty > 0" class="cart-badge">{{ totalQty }}</span>
    </a>

    <a routerLink="/orders" class="icon-link">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path
          d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
        ></path>
        <polyline points="14,2 14,8 20,8"></polyline>
        <line x1="16" y1="13" x2="8" y2="13"></line>
        <line x1="16" y1="17" x2="8" y2="17"></line>
        <polyline points="10,9 9,9 8,9"></polyline>
      </svg>
    </a>

    <ng-container
      *ngIf="
        auth.isAuthenticated();
        then authenticatedbtns;
        else unauthenticatedbtns
      "
    >
    </ng-container>

    <ng-template #unauthenticatedbtns>
      <button class="login-button" routerLink="/auth/signin">Login</button>
    </ng-template>
    <ng-template #authenticatedbtns>
      <button class="login-button" (click)="logout()">Logout</button>
    </ng-template>
  </div>
</nav>
